.carousel-inner{
    height: 100vh;
    @media screen and (max-width: 772px) { //mobile 
        height: 82vh;
    }
    .carousel-item{
        height: inherit;
        transition: opacity .6s ease-in-out ;
        .shadow-layer{
            z-index: 0;
        }
      img{
            height: 70%;
            margin: auto;

        }
        .w-100{
            width: auto!important;
            
        }
        .carousel-caption{
            position: relative;
            height: 85%;
            left: 0%;
            bottom: 70%;
            padding: 0% 15%;
            text-align: inherit;
            background-image: linear-gradient(10deg, var(--background-color), var(--background-color), transparent, transparent, var(--background-color), var(--background-color));
        
            h5{ position: absolute;
                font-weight: 600;
                width: initial;
                bottom: 12vh;
                left: 1vw;
                font-size: 3rem;
                margin-bottom: 0;
            }
            p{  position: absolute;
                font-size: 1.2rem;
                width: 55%;
                left: 35%;
                text-align: end;
            }
            @media screen and (min-width: 772px) and (max-width: 1024px) { //tablet
                padding: 1rem 7rem;
                h5{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            
            @media screen and (max-width: 772px) { //mobile 
                    width: 100%;
                    padding: unset;
                    left: 0;
                    bottom: 70%;
                    height: 71%;
                h5{
                    font-size: 2.5rem;
                    bottom: 5vh;
                }
                p{
                    font-size: 1rem;
                    width: 98%;
                    left: auto;
                    padding: unset;
                }
            }
        }
    }
    &::before {
        content: "";
        width: 600px;
        height: 900px;
        background-image: url("../../media/bg-figuras/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(180deg);
        bottom: -1200px;
        left: -250px;
        z-index: -1;
      }
}
.carousel-control-prev, .carousel-control-next{
    opacity: inherit;
    width: 93%;
    height: 30px;
    top: 75%;
    
    @media screen and (max-width: 772px) { //mobile 
        width: 65vw;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
        border:transparent solid 3px;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        &:hover{
            color: #F1A208;
        }
    }
    .carousel-control-prev{
        left: 20px;
    }
    .carousel-control-next{
        left: 20px;
    }
}
.agenda{
    padding-top: 5vh;
}


// .gallery{
//     background-color: $color-secundario;
//     height: 100vh;
//     width: 100vw;
//     display: flex;
//     overflow: auto;
//     // scroll-snap-type: x mandatory;
//     // scroll-snap-align: center;
//     div{
//         flex-shrink: 0;
//         object-fit: cover;
//         position: sticky;
//         top: 0px;
//         // height: 100%;
//         // width: 100%;
//         img{
//             height: 82%;
//             width: 72%;
//             display: flex;
//             align-items: center;
//         }
//         .descripcion{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: flex-end;
//             background-color: $color-secundario;
//             color: $color-primario
//         }
//     }

// }
