*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    &::before {
        content: "";
        width: 600px;
        height: 900px;
        background-image: url("../../media/bg-figuras/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(180deg);
        bottom: -1200px;
        left: -250px;
        z-index: -1;
      }
}
/*
# MEDIA QUERIES
*/



