#preloader {
    background: black url("../media/giflaberinto.gif") no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

    @media all and (max-width: 980px) {
        background-size: 100%;
    }
}