.wap{
    position: fixed;
    height: 4rem;
    width: 4rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    transition: all .5s ease-out;
    &:hover{
        transform: scale(1.1);
    }
    @media all and (max-width: 980px) {
        height: 3rem;
        width: 3rem;
    }
}